
.table-mod-btn-container{    display: flex;
    align-items: center;
    justify-content: center;}
.table-mod-btn{width: 85px;}
.table-img-container{width: 50px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 4px;}
#postTableWeb{display: table;}
#postTableMob{display: none;}
#content-error-span ,#title-error-span{
    display: none;color: red;font-size: 11px;
}
@media (max-width: 768px) {
    #postTableWeb{display: none;}
    #postTableMob{display: table;}
    .post-table-container , .contact-table-container{
        padding: 0px 5px;
    }
    .post-table-container thead th, .contact-table-container thead th{
        font-size: 15px;
        padding: 0px 5px;
    }
    .post-table-container tbody td, .contact-table-container tbody td{
        font-size: 12px;
        padding: 0px 5px;
        word-break: break-word;
    }
    .table-mod-btn{font-size: 12px;
    padding: 5px;
    width: 50px;}
}

